@page
@model MasterBlogger.Presentation.MvcCore.Areas.Administrator.Pages.ArticelCategoryManagment.CreateModel
@{
}
    <form method="post">
        <label for="Title">Titel</label>
        <input id="Title" name="Title" value="" />
        <input type="submit" value="Create" />
        <a class="nav-link text-dark" asp-area="Administrator" asp-page="/ArticelCategoryManagment/List">BackToList</a>

    </form>
